html {
  min-height: 100%;
  background: linear-gradient(to top, #33ccff 0%, #1f2325 100%);
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  height: 100%;
  min-height: 100%;
}

main  {
  padding-top: 20px;
}

.App {
  text-align: center;
  color: white;
}

/* Footer */
.footer-links li {
  list-style: none;
  line-height: 1.5em;
}

.footer-links li:first-child {
  padding-top: 1em;
}

.footer-links li:hover {
  cursor: pointer;
  color: #e53d77;
}

.footer-list li {
  list-style: none;
  line-height: 1.5em;
  color: #abdaeb;
  /* icons */
  fill: #abdaeb;
}

.footer-list li:first-child  {
  font-size: 20px;
  color: #e53d77;
  line-height: 1.5em;
}

.social-links li svg {
  font-size: 1em;
}
.social-label {
  padding-left: .5em;
}

.footer-address {
  text-align: center;
}



/* Library */

.library {
  /* width: 60%; */
  margin: 0 10%;
}

.album-card {
  width: 90%;
  margin: 0 5% 5%;
}

.album .album-cover {

}



/* Album Page  */
.album {
  padding-bottom: 7em;
  padding-top: 1em;
}

#album-info {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1em;
}

#album-info img {
  width: 100%;
}

.album-details {
  background: rgba(0,0,0,.5);
}

.track-data {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 40%;
}

/* Song component */
#song-list {
  background: rgba(0,0,0,.3);
  width: 100%;
  position: inherit;
}

.song {
  margin: 2em;
  background: rgba(0,0,0,.1);
  line-height: 3.5em;
}

.song:hover {
  background: rgba(0,0,0,.5);
}

.is-playing {
  background: rgba(0,0,0,.5);
}

.song-actions button {
  background: none;
  color: white;
  /* padding: 1em; */
  border: none;
  outline: none;
}

.song .song-actions button:focus {
  color: #46add2;
}

.song-actions {
  min-width: 3em;
  line-height: 0;
}
.song-title {
  width: 100%;
  text-align: left;
  padding: 0 1em;
}

.song-duration {
  min-width: 5em;
}

/* Player Bar */
.player-bar {
  width: 100%;
    background: rgba(0,0,0,.8);
    border-top: 1px solid #949494;
    position: fixed;
    bottom: 0;
    padding: 1.5em 10%;
    box-sizing: border-box;
}


.player-bar #buttons button {
  width: 3em;
  height: 3em;
  background: linear-gradient(180deg, rgb(24, 62, 74) 30%, rgba(60, 149, 180, 0.42) 90%) !important;
  border-radius: 1.5em;
  margin-right: 4px;
  outline: none;
  color: white;
  border: none;
}

.player-bar #buttons {
  /* width: 10em; */
  display: inline-flex;
}

.player-bar #buttons span {
  font-size: 16px;
}

.player-bar #time-controls {
  width: 60%;
  display: inline-flex;
  padding: 1em 0em;
}
.player-bar #time-controls .current-time {
  width: 5em;
}
.player-bar #time-controls .seek-bar {
  width: 100%;
}
.player-bar #time-controls .total-time {
  width: 5em;
}

.player-bar #volume-controls {
  width: 20%;
  display: inline-flex;
  padding: 1em 0em;
}

.player-bar #volume-controls .seek-bar {
  width: 100%
}

.player-bar #volume-controls .icon {
  font-size: 16px;
  width: 20%;
}

/* Landing */

.point-description {
  line-height: 1.5em;
}

.jumbotron-button {
  background-color: #3787a3;
}


@media screen and ( max-width: 900px ) {
  /* LIBRARY */
  .library {
    width: 80%;
    margin: 0 10%;
  }


  /* ALBUM */
  .album {
    padding-bottom: 12em;
  }

  #album-info {
    width: 100%;
    display: block;
    padding: 0 4em;
  }

  .album-details {
    padding: 1em;
  }

  .track-data {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4em;
  }

  #song-list {
    margin: 0;
  }

  .song {
    margin: 1em;
  }


  .player-bar {
    padding: 1em 5%;
  }

  .player-bar #buttons button {
    margin: 0 3em;
  }

  .player-bar #time-controls {
    width: 100%;
  }

  .player-bar #volume-controls {
    width: 70%;
  }

}
 @media screen and ( max-width: 600px ) {
   /* LIBRARY */
   .library {
     width: 100%;
     margin: 0%;
   }

   /* Footer */
   .social-links li {
    width: 33%;
    float: left;
    text-align: center;
   }

   .footer-links li:first-child {
     padding-top: 0;
   }

   .footer-links {
     text-align: center;
   }

   .footer-list li {
     text-align: center;
   }

   .social-links li svg {
     font-size: 2em;
   }

   .social-label {
     display: none;
   }

   /* ALBUM */
   #album-info {
     width: 100%;
     display: block;
     padding: 0 1em;
   }

   .album-details {
     padding: 1em;
   }

   .track-data {
     width: 100%;
     box-sizing: border-box;
     padding: 0 1em;
   }

   .player-bar #buttons {
     width: 100%;
   }
   .player-bar #buttons button {
     width: 33%;
     margin: 0 1em;
   }

 }
